<div class="title-container">
    <h2 style="text-align: center; margin-bottom: 2rem">Danh sách bài viết</h2>
</div>
<div>
    {{#ifEqual numberOfPost 0}}
    <p style="text-align: center; font-weight:bold">Bạn chưa có bài viết nào</p>
    {{/ifEqual}}
    {{#each posts}}
    <div class="card">
        <img class="card-img" src="/public/images/post/{{this.featured_image}}">
        <div class="card-body">
            <div>
                <p class="card-title">{{this.title}}</p>
                <p class="card-summary">{{this.summary}}</p>
            </div>
            <div style="justify-content: space-between; flex-direction: row; display:flex; align-items: flex-end">
                <span>
                    Trạng thái:
                    {{#ifEqual this.isPublished true}}
                    <span class="card-status text-success">ĐÃ XUẤT BẢN</span>
                    {{else}}
                    {{#ifEqual this.status 'PENDING'}}
                    <span class="card-status">CHƯA ĐƯỢC DUYỆT</span>
                    {{else}}
                    {{#ifEqual this.status 'APPROVED'}}
                    <span class="card-status text-primary">ĐƯỢC DUYỆT</span>
                    {{else}}
                    {{#ifEqual this.status 'DENIED'}}
                    <span class="card-status text-danger">BỊ TỪ CHỐI</span>
                    {{else}}
                    <span class="card-status text-success">ĐÃ XUẤT BẢN</span> 
                    {{/ifEqual}}
                    {{/ifEqual}}
                    {{/ifEqual}}
                    {{/ifEqual}}
                </span>
                {{#ifEqual this.status 'DENIED'}}
                <span>
                    {{#ifNotEqual this.editor_note null}}
                    <a id={{this.id}} class="btn btn-danger editor-note-btn" data-toggle="modal"
                        data-target=".{{this.id}}-modal">Lời nhắn của biên tập viên</a>
                    {{/ifNotEqual}}
                    <a class="btn btn-primary edit-btn" href="/writer/post/edit?id={{this.id}}">Chỉnh sửa bài viết</a>
                </span>
                {{/ifEqual}}
                {{#ifEqual this.status 'PENDING'}}
                <a class="btn btn-primary edit-btn" href="/writer/post/edit?id={{this.id}}">Chỉnh sửa bài viết</a>
                {{/ifEqual}}
                {{#ifEqual this.status 'APPROVED'}}
                <span>Ngày xuất bản: <b>{{this.publish_time}}</b></span>
                {{/ifEqual}}
                {{#ifEqual this.status 'PUBLISHED'}}
                <span>Ngày xuất bản: <b>{{this.publish_time}}</b></span>
                {{/ifEqual}}
            </div>
        </div>
    </div>
    <div class="modal {{this.id}}-modal" id="myModal" role="dialog" data-backdrop="static"
        aria-labelledby="myModalLabel" style="align-items: center; justify-content: center;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" data-dismiss="modal">&times;</span>
                    <p style="font-size: 2rem;"><b>Lời nhắn của biên tập viên viên viên</b></p>
                </div>
                <div class="modal-body">
                    <p>{{this.editor_note}}</p>
                </div>
                <div class="modal-footer">
                    <button id="confirm-btn" class="btn btn-primary" style="margin-top: 1rem;"
                        data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

{{#section 'js'}}
<script>
    $(document).ready(function () {
        $('.editor-note-btn').on('click', function () {
            const id = $(this).attr('id');
            $(`.${id}-modal`).css('display', 'flex');
        })
    })
</script>
{{/section}}

{{#section 'css'}}
<style>
    .title-container {}

    .card {
        padding: 10px;
        display: flex;
        margin-bottom: 10px;
        border: 0.5px solid black;
        background-color: #f5f5f5;
    }

    .card-img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .card-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        justify-content: space-between;
    }

    .card-title {
        font-size: 2rem;
        margin-bottom: 10px;
        font-weight: bold;
        line-height: 1.2em;
        max-height: 2.4em;
        overflow: hidden;
    }

    .card-summary {
        font-size: 1.5rem;
        line-height: 1.2em;
        height: 3.6em;
        overflow: hidden;
    }

    .card-status {
        font-weight: bold;
    }

    .edit-btn {}
</style>
{{/section}}

{{#section 'title'}}
Danh sách bài viết
{{/section}}