<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#if _sections.title}}{{{_sections.title}}} - {{app.name}}{{else}}{{app.name}}{{/if}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.tiny.cloud/1/mqjp19j7s814osukaw32ul1epfsa6tq2gk4zy229fvog9vud/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    {{{_sections.css}}}
    <style>
        .nav.categories>li.dropdown.open {
            position: static;
        }

        .nav.categories>li.dropdown.open .dropdown-menu {
            width: 100%;
            text-align: center;
            left: 0;
            right: 0;
        }

        .dropdown-menu.full-category {
            max-height: 300px;
            overflow-y: auto;
        }

        li.dropdown.open>.dropdown-menu.full-category {
            display: flex;
            flex-wrap: wrap;
        }

        .outer-container {
            margin-top: 60px;
            margin-bottom: 60px;
        }

        @media screen and (min-width: 768px) and (max-width: 805px) {
            .outer-container {
                margin-top: 120px
            }
        }
    </style>
</head>

<body>
    {{>navigation}}
    <div class="container outer-container">
        {{{body}}}
    </div>
    {{>footer}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {{{_sections.js}}}
</body>

</html>