<h3>{{this.nameCategory.name}}</h3>
<ul class="nav nav-pills">
    {{#each this.listSubCg}}
    <li><a href="/post/bySubategory/{{slug}}">{{name}}</a></li>
    {{/each}}
</ul>
<div class="row">

    {{#each this.posts}}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail h-100">

            <img src="../../../public/imgs/newpapers/{{id}}/{{featured_image}}" alt="{{title}}" title="{{title}}" style="width: 100%">
            <div class="caption">
                <h3>{{title}}</h3>
                <p>{{summary}}</p>
                <p>
                    <a href="/post/{{slug}}" class="btn btn-primary" role="button">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    See</a>

                </p>
            </div>

        </div>
    </div>
    {{/each}}
</div>