<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style.css">
    <style>
    hr {
        border: 0;
        clear:both;
        display:block;
        width: 96%;               
        background-color:lightgray;
        height: 1px;
        }    
    </style>
</head>
<body>     
<div>
    <h1>{{this.tagName}}</h1>
    <div>
        {{#each this.tag}}
        <hr>
        <article>
            <h3>{{title}}</h3>
            <div class="col-md-3">
                    <img src="{{featured_image}}" alt="...">
                </div>
                <p class="col-md-9">{{sumary}}</p>
        </article>
        {{/each}}
    </div>
<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {{#each this.page_items}}
        <li class="page-item">
            <a class="page-link" href="?page={{value}}">{{value}}</a>
        </li>
        {{/each}}
        {{!-- <li><a href="#">2 <span class="sr-only"></span></a></li>
        <li><a href="#">3 <span class="sr-only"></span></a></li> --}}
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>