<div style="margin-top: -40px;">
    <h1>{{this.tagName}}</h1>
    <div>
        {{#each this.posts}}
        <hr>
        <article style="">
            <h4><a href="/post/{{slug}}">{{title}}</a></h4>
            <div style="display: flex; flex-direction: row">
                <img class="img-responsive" src="/public/images/post/{{featured_image}}" style="height: 200px; width: 200px; object-fit:cover; cursor:pointer" onclick="window.location.assign('/post/{{slug}}')">
                <div style="margin-left: 20px; display:flex; justify-content:space-between; flex-direction:column; flex:1">
                    <p style="cursor: pointer;" onclick="window.location.assign('/post/{{slug}}')">{{summary}}</p>
                    <div>
                        <span>Chuyên mục: <a href="#">{{category_name}}</a> / <a href="#">{{sub_category_name}}</a></span>
                        <span style="float:right"><small>{{publish_time}}</small></span>
                    </div>
                </div>
            </div>
            <div style="margin-top: 10px;">
                    <p>Nhãn:
                        {{#each @root.post_tags}}
                            {{#ifEqual this.post_id ../id}}
                            <a href="/tag/{{this.slug}}" style="background-color: gray; padding: 5px; color:white; border-radius: 4px">{{this.name}}</a>
                            {{/ifEqual}}
                        {{/each}}
                    </p>
                </div>
        </article>
        {{/each}}
    </div>
    <nav class="text-center" aria-label="...">
        <ul class="pagination">
            <li class="page-item {{#unless can_go_prev}}disabled{{/unless}}">
                <a class="page-link" href="?page={{prev_value}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{#each this.page_items}}
            {{#if isActive}}
            <li class="page-item active" aria-current="page">
                <span class="page-link">
                    {{value}}
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            {{else}}
            <li class="page-item">
                <a class="page-link" href="?page={{value}}">{{value}}</a>
            </li>
            {{/if}}
            {{/each}}
            <li class="page-item {{#unless can_go_next}}disabled{{/unless}}">
                <a class="page-link" href="?page={{next_value}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

{{#section 'css'}}
<style>
    hr {
        border: 0;
        clear: both;
        display: block;
        background-color: lightgray;
        height: 1px;
    }

    .disabled {
        pointer-events: none;
    }

    a {
        text-decoration: none;
        color: blue;
    }

    img {
        width: 100px;
        height: 100px;
    }

    p {
        margin: 0px;
    }

    pre {
        background-color: white;
        border-color: white;
    }
</style>
{{/section}}

{{#section 'title'}}Nhãn: {{this.tagName}}{{/section}}