<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<div class="carousel-inner" role="listbox">
    <div class="item active">
        <img href="#" src="{{this.first.Image}}" alt="...">
        <div class="carousel-caption">
            {{this.first.Title}}
        </div>
    </div>
    {{#each this.post}}
    <div class="item">
        <img href="#" src="{{Image}}" alt="...">
        <div class="carousel-caption">
            {{Title}}
        </div>
    </div>
    {{/each}}

</div>
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<hr>
<div>
    {{#each this.cats}}
    <hr>
    <ol class="breadcrumb">
        <li><a href="#">{{catName}}</a></li>
        {{#each subCatName}}
        <li><a href="#">{{this}}</a></li>
        {{/each}}
    </ol>
    <div class="row">
        <div class="col-md-4">
            <h4>Title</h4>
            <div class="row">
                <div class="col-md-5">
                    <img src="https://" alt="...">
                </div>
                <p class="col-md-7">Summary</p>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Title</h4>
            <div class="col-md-5">
                    <img src="https://" alt="...">
                </div>
                <p class="col-md-7">Summary</p>
        </div>
        <div class="col-md-4">
            <h4>Title</h4>
            <div class="col-md-5">
                    <img src="https://" alt="...">
                </div>
                <p class="col-md-7">Summary</p>
        </div>
    </div>
    {{/each}}
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>