<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Newspaper</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav categories">
                {{#each (limit localsCatWithSubCat 6)}}
                <li><a href="/category/{{this.category_slug}}">{{this.category_name}}</a></li>
                {{/each}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <b>Tất cả</b>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu full-category flex-row row" role="menu">
                        {{#each localsCatWithSubCat}}
                        <div class="col-md-3" style="padding-left: 100px;">
                            <li style="padding: 10px 0 0; font-size: 20px;font-weight: bold;">
                                <a style="color: #404040;"
                                    href="/category/{{this.category_slug}}">{{this.category_name}}</a>
                            </li>
                            {{#each this.subCats}}
                            <li style="padding: 4px 0;">
                                <a href="/sub-category/{{this.sub_category_slug}}">{{this.sub_category_name}}</a>
                            </li>
                            {{/each}}
                        </div>
                        {{/each}}
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{!-- <li><a href="/about">About</a></li> --}}
                {{#if isAuthenticated}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">{{user.full_name}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {{#ifEqual user.role 3}}
                        <li><a href="/writer/post">Trang phóng viên viên</a></li>
                        {{else}}
                        {{#ifEqual user.role 2}}
                        <li><a href="/editor/posts">Trang biên tập viên</a></li>
                        {{else}}
                        {{#ifEqual user.role 1}}
                        <li><a href="/admin/categories">Trang quản trị viên</a></li>
                        {{/ifEqual}}
                        {{/ifEqual}}
                        {{/ifEqual}}
                        <li><a href="/account/profile">Trang cá nhân</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/auth/logout">Đăng xuất</a></li>
                    </ul>
                </li>
                {{else}}
                <li><a href="/auth/login">Đăng nhập</a></li>
                <li><a href="/auth/register">Đăng ký</a></li>
                {{/if}}
            </ul>
            <form class="navbar-form navbar-right" method="GET" action="/search">
                <input type="text" class="form-control" placeholder="Tìm kiếm..." name="q">
            </form>
        </div>
    </div>
</nav>

<style>
    .navbar-nav>li>.dropdown-menu {
        border: none;
    }

    .nav.categories>li.dropdown.open {
        position: static;
    }

    .nav.categories>li.dropdown.open .dropdown-menu {
        width: 100%;
        left: 0;
        right: 0;
    }

    .dropdown-menu.full-category {
        max-height: 300px;
        overflow-y: auto;
    }

    li.dropdown.open>.dropdown-menu.full-category {
        display: flex;
        flex-wrap: wrap;
    }

    .outer-container {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    @media screen and (min-width: 768px) and (max-width: 805px) {
        .outer-container {
            margin-top: 120px
        }
    }
</style>