<ol class="breadcrumb">
    <li><a href="/admin">Trang Admin</a></li>
    <li class="active">Danh sách người dùng</li>
</ol>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-9"></div>
            <div class="col-sm-2">
                <a class="btn btn-success" role="button" href="/admin/users/add">Thêm
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr class="">
                            <th scope="col" class="col-md-1">ID</th>
                            <th scope="col" class="col-md-3">Họ tên</th>
                            <th scope="col" class="col-md-3">Email</th>
                            <th scope="col" class="col-md-2" style="text-align: center;">Vai trò</th>
                            <th scope="col" class="col-md-3" style="text-align: center;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each this.userList}}
                        <tr>
                            <td style="vertical-align: middle;">{{this.id}}</td>
                            <td style="vertical-align: middle;">{{this.full_name}}</td>
                            <td style="vertical-align: middle;">{{this.email}}</td>
                            <td style="vertical-align: middle; text-align: center; text-transform:uppercase"><span
                                    class="text-danger" style="padding: 5px;">
                                    {{#ifEqual this.role_name 'writer'}}
                                    phóng viên
                                    {{else}}
                                    {{#ifEqual this.role_name 'editor'}}
                                    biên tập viên
                                    {{else}}
                                    {{#ifEqual this.role_name 'admin'}}
                                    quản trị viên
                                    {{else}}
                                    độc giả
                                    {{/ifEqual}}
                                    {{/ifEqual}}
                                    {{/ifEqual}}
                                    </span></td>
                            <td style="text-align:center" class="action-cell-{{this.id}}">
                                <a id="{{this.id}}" class="btn btn-primary" role="button"
                                    href="/admin/users/{{this.id}}/details">Chỉnh sửa
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                                <a id="{{this.id}}" class="btn btn-danger del-btn" role="button">Xóa
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        {{#ifNotEqual numOfPage 0}}
            <nav aria-label="Page navigation">
                <ul class="pagination" style="display: flex;justify-content: center;margin-top: 30px;">
                    <li class="prev-page {{#unless this.canGoPrev}}disabled{{/unless}}"
                        {{#if this.canGoPrev}}onclick="goPrev()" style="cursor: pointer;" {{/if}}>
                        <span>
                            <span aria-hidden="true">&laquo;</span>
                        </span>
                    </li>
                    {{#each this.pageItems}}
                    <li class="page-item {{#if this.isActive}}active{{/if}}"
                        style="{{#if this.isActive}}pointer-events: none;{{/if}} cursor: pointer;">
                        <span>{{this.value}}</span></li>
                    {{/each}}
                    <li class="next-page {{#unless this.canGoNext}}disabled{{/unless}}"
                        {{#if this.canGoNext}}onclick="goNext()" style="cursor: pointer;" {{/if}}>
                        <span>
                            <span aria-hidden="true">&raquo;</span>
                        </span>
                    </li>
                </ul>
            </nav>
            {{/ifNotEqual}}
    </div>
</div>
<div class="modal" id="myModal" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel"
    style="align-items: center; justify-content: center;">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa user này?</p>
            </div>
            <div class="modal-footer">
                <button id="confirm-btn" class="btn btn-primary" style="margin-top: 1rem;"
                    data-dismiss="modal">Xóa</button>
                <button id="cancel-btn" class="btn btn-primary" style="margin-top: 1rem;"
                    data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

{{#section 'js'}}
<script>
    $(document).ready(function () {
        $('.modal').hide();

        var parent = null;
        var currentID = null;

        $('#confirm-btn').on('click', function () {
            $.ajax({
                type: 'POST',
                url: `/admin/users/${currentID}/delete`,
                data: {},
                success: function (data) {
                    if (data.success) {
                        parent.html('<div style="padding: 6px 12px; border: 1px solid transparent; text-transform:uppercase">Đã xóa!</div>');
                        parent = null;
                    }
                },
                error: function (error) {
                    console.log(error);
                    parent = null;
                }
            })
            $('.modal').hide();
        });

        $('#cancel-btn').on('click', function () {
            $('.modal').hide();
            parent = null;
            currentID = null;
        })

        $('.del-btn').on('click', function () {
            parent = $(this).parent();
            currentID = $(this).attr('id');
            $('.modal').show();
        })

        $('.page-item').on('click', function () {
            window.location.assign(`?page=${$(this).text().trim()}`);
        })
    })

    function goPrev() {
        const pageItems = {{{ json pageItems }}};
        const activePage = pageItems.find(item => item.isActive === true);
        window.location.assign(`?page=${activePage.value - 1}`); 
    }

    function goNext() {
        const pageItems = {{{ json pageItems }}};
        const activePage = pageItems.find(item => item.isActive === true);
        window.location.assign(`?page=${activePage.value + 1}`);
    }
</script>
{{/section}}

{{#section 'title'}}
Danh sách người dùng - Trang Admin
{{/section}}