{{#section 'title'}}Bài viết - Trang Admin{{/section}}
<ol class="breadcrumb">
    <li><a href="/admin">Trang chủ</a></li>
    <li><a href="/admin/posts">Bài viết</a></li>
    <li class="active">Chi tiết</a></li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
        <h3>{{this.post.title}}</h3>
        <div class="row">
            <div class="col-lg-4">
                {{#if this.post.featured_image}}
                <img id="myImg"
                    src="../../../../public/imgs/newpapers/{{this.post.id}}/{{this.post.featured_image}}" alt="{{this.post.title}}" title="{{this.post.title}}"
                    class="img-responsive">
                {{else}}
                <span class="glyphicon glyphicon-picture" style="width: 50%;"></span>
                {{/if}}
            </div>

            <div class="col-lg-8">
                <p><b>ID:</b> {{this.post.id}}</p>
                <p><span class="glyphicon glyphicon-book"></span><b> Danh mục chính:</b> {{this.post.category_id}}</p>
                <p><span class="glyphicon glyphicon-book"></span><b> Danh mục con:</b> {{this.post.sub_category_id}}</p>
                <p>
                    <span class="glyphicon glyphicon-tag"></span><b> Loại:</b> {{this.post.type}}
                    <span class="glyphicon glyphicon-tag"></span><b>Trạng thái:</b> {{this.post.status}}
                </p>
                <p><span class="glyphicon glyphicon-eye-open"></span> <b> Lượt xem:</b> {{this.post.view_count}}</p>
            </div>
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Mô tả ngắn</h3>
            </div>
            <div class="panel-body">
                {{this.post.summary}}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Mô tả đầy đủ</h3>
            </div>
            <div class="panel-body">
                {{this.post.content}}
            </div>
        </div>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>
        <!-- --- -->
        <a href="/admin/posts" class="btn btn-success" role="button">
            <span class="glyphicon glyphicon-backward"></span>
        </a>
        <a href="/admin/posts/edit?id={{this.post.id}}" class="btn btn-primary" id="btn" role="button">
            <span class="glyphicon glyphicon-pencil"></span> Chỉnh sửa
        </a>

    </div>
</div>

{{#section 'js'}}
<script>
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
</script>

{{/section}}

{{#section 'css'}}
<style>
    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    #myImg:hover {
        opacity: 0.7;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 200px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.9);
        /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Caption of Modal Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation */
    .modal-content,
    #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }

        to {
            -webkit-transform: scale(1)
        }
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 85px;
        right: 40px;
        color: #f1f1f1;
        font-size: 50px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }
</style>

{{/section}}